.blogMain{
    padding-top:150px;
    padding-bottom:50px;
    transition:all 0.3s linear;
    section{
        margin-bottom:50px;
    }
    h3{
        font-size:1.6rem;
    }
}

.sectionOne{
    h2{
        font-size:3rem;
    }
    p:not(.postDate){
        padding:10px 0;
        color:$brownGrey;
        letter-spacing:0.05rem;
    }
    h2 + p{
        font-family:$raleway;
        font-size:1rem;
        letter-spacing: 0.03rem;
        padding-bottom:3%;
    }
    .blogPostTags{
        margin:10px 0;
        border-top:1px solid $brownGrey;
    }
    .blogPostShare{
        border-bottom:1px solid $brownGrey;
    }
    .blogPostTags,
    .blogPostShare{
        span{
            display:inline-block;
            text-transform: uppercase;
            color:$black;
            font-family:$raleway;
        }
    }
    .blogPostTags{
        & > a{
            text-transform:none;
            font-family: $lora;
            color:$brownGrey;
        }
    }
    .blogPostShare{
        display:flex;
    }

    .blogSocialLinks{
        li{
            display:inline-block;
            padding:10px;
            a{
                color:$brownGrey;
                font-size:1.5rem;
            }
        }
    }
}

.blogAuthor{
    margin-top:50px;
    display:flex;
    .authorImage{
        transition:all 0.3s linear;
        flex:1 1 10%;
        img{
            transition:all 0.3s linear;
        }
    }
    .authorInfo{
        flex:1 1 80%;
        background-color:$white;
        margin-left:20px;
        padding:2%;
        p{
            line-height:2.6rem;
            padding-top:10px;
            color:$black;
        }
    }
}
.relatedPosts,
.comments,
.commentForm{
    h3{
        padding:20px 0;
    }
}
.relatedPosts{
    > div{
        display:flex;
        flex-wrap:wrap;
        .post{
            padding-right:20px;
            flex: 1 0 calc(100%/3);
            display:flex;  
            flex-direction:column;
            p:nth-of-type(1){
                padding-top:5%;
            }
            a{
                font-size: 1.5rem;
            }
            div{
                width:100%;
                height:100%;
            } 
            p:nth-of-type(2){
                color:$brownGrey;
                font-size:1rem;
                span{
                    font-family:$raleway;
                    color:$black;
                }
            }
            .post3Image img{
                padding-right:20px;
            }
        }
        .post3{
            padding-right:0;
        }
    }
}
.comments{
    display:flex;
    flex-direction:column;
    .comment{
        display:flex;
        margin-bottom:20px;
        .commentorName{
            span{
                font-family:$raleway;
            }
        }
        div:first-child{
            flex:1 1 5%;
        }
        div:last-child{
            flex:1 1 90%;
            margin-left:20px;
            background-color:$white;
            padding:20px;
            position:relative;
            border:5px solid $white;
            p:nth-of-type(2){
                padding:10px 0;
            }
            .tip {
                width: 0px;
                height: 0px;
                position: absolute;
                background: transparent;
                border: 10px solid $white;
            }
            .tip-left {
                top: 10px;
                left: -25px;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: transparent;  
            }
            .tip-top {
                border:none;
            }
        }
    }
    .comment{
        div:first-child{
            height:100px;
            width:100px;
        }
    }
}

.commentForm{
    form{
        padding:20px 0;
        display:flex;
        flex-wrap:wrap;
        input[name="name"],
        input[name="email"]{
            margin-right:20px;
        }
        input[name="name"],
        input[name="email"],
        input[name="website"]{
            flex:1 1 calc(100%/3 - 40px);
        }

        textarea[placeholder="Comment"]{
            flex:1 1 100%;
            height:150px;
        }
        button{
            width:fit-content;
            color:$white;
            border:none;
            padding:1% 2%;
            width:calc(((100%/3) - 20px)/2);
            font-size:1.4rem;
        }
    }
}
