.contactMain{
    display:flex;
    flex-direction:row;
}

.contactForm{
    flex:1 1 50%;
    margin:10% 0;
    padding-right:5%;
    form{
        padding:50px 0;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:50px 50px 150px 50px; 
        grid-gap:30px;
        input{
            background-color:$white;
            border:none;
            padding:10px;
        }
        input[placeholder="Subject"],
        input[placeholder="Message"]{
            grid-column-start: 1;
            grid-column-end:span 2;
        }
        input[placeholder="Message"]{
            text-align:top;
        }
        button{
            width:50%;
            border:none;
            background:none;
            color:$mainGreen;
            text-align:left;
        }
    }
}
.contactMain {
    aside{
        flex:1 1 40%;
        background-color:$white;
        padding:15% 50% 10% 5% ;
        .asideWrapper{
            display:flex;
            flex-direction:column;
            div > p:nth-of-type(1){
                padding-top:50px;
            } 
        }
    }
}

.bottomImage{
    background-image:url("../delicious-assets/contact-2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: initial;
    height: 55vh;
    width:100%;
}