@media(max-width:1200px){
    .contactMainInner{
        margin-top:100px;
        flex-direction:column;
        h2{
            margin:0;
        }
        .contactForm{
            width:100%;
            padding-right:0;
        }
        .contactDetails{
            h2{
                padding-top:100px;
            }
            position: unset;
            .asideWrapper{
                width:100%;
                padding:0 20px;
            }       
        }
    }
    .contactMainWrapper{
        width:80%;
    }
}

@media(max-width:500px){
    .contactMainInner
    .contactForm
    form
    input[name="name"],
    input[name="email"]{
        flex:1 1 100%;
        margin-right:0;
    }
    .contactMainWrapper{
        width:85%;
    }
}