.contactMain{
    display:grid;
    grid-template-columns: 60% 40% ;
    div{
        border:1px solid red;
    }
    aside{
        background-color:$white;
        padding:100px 100px 50px 20px ;
        .asideWrapper{
            max-width:250px;
        }
    }
}
.contactForm{
    margin:50px 0;
    padding-right:5%;
    form{
        padding:50px 0;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:50px 50px 150px 50px; 
        grid-gap:30px;
        input{
            background-color:$white;
            border:none;
            padding:10px;
        }
        input[placeholder="Subject"],
        input[placeholder="Message"]{
            grid-column-start: 1;
            grid-column-end:span 2;
        }
        input[placeholder="Message"]{
            text-align:top;
        }
        button{
            width:50%;
            border:none;
            background:none;
            color:$mainGreen;
            text-align:left;
        }
    }
}