* {
    margin: 0;
    padding: 0; 
}

html {
    font-size: 62.5%; 
}
/* some of the font weight does not apply on the fonts in firefox, this body rules help in correction to font weight */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
p,
a,
ul, li,
img {
    margin: 0;
    padding: 0; 
}
.largeWrapper{
    max-width:1500px;
    margin:0 auto;
}
.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto; 
}

ul{
    list-style-type: none;
}
img{
    width:100%;
    height:auto;
    display:block;
}

h1,
h2,
h3,
h4,
a,
button,
i{
    text-transform:uppercase;
    font-family:$raleway;
    transition:all 0.3s linear;
}
h1{
    display:inline-block;
}
h2{
    font-size:2.4rem;
}
p{
    font-family:$lora;
    font-weight:400;
    font-size:1.2rem;
    line-height:1.8rem;
    letter-spacing: 0.3px;
}

a {
    text-decoration: none;
    color:$black;
}
a.current{
    color:$mainGreen;
}
button{
    border:none;
    background-color:$mainGreen;
}
button:hover{
    cursor:pointer;
    background-color:darken($pink,20);
}
input,
textarea{
    transition:all 0.3s linear;
}
input,
textarea{
    border:2px solid $white; 
    background-color:$white;
    margin:10px 0;
    border:transparent;
    padding:20px;
}
textarea{
    resize:none;
}
input:hover,
textarea:hover{
    border-color:$mainGreen;
    background-color:$lightGreen;
}
input:focus,
textarea:focus{
    border-color:$mainGreen;
    background-color:darken($lightGreen,50);
    color:$white;
}

i:hover{
    cursor:pointer;
    color:darken($pink,20);
}

// animation for page loading, common to all pages 
header {  
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
