    header.homeHeader{
            background-image:url("../delicious-assets/home-1.jpeg");
        }
    header.blogHeader{
            background-image:url("../delicious-assets/blog-1.jpeg");
        }
    header.contactHeader{
            background-image:url("../delicious-assets/contact-1.jpeg");
        }
    header{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color:$brownGrey; ;
        background-position: center;
        background-size:cover;
        height:100vh;
        width:100vw;
        color:$black;
    
        h1{
            font-size:3.6rem;
            line-height: 3.8rem;
            letter-spacing:1.1px;
            font-weight: 700;
            margin: 0;
        }
        .topBar{
            padding:2%;
            display:flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            flex-wrap:wrap;
            ul{
                flex:1 1 60%;
                display:flex;
                justify-content: space-around;
                align-items: center;
                li{
                    flex-grow: 1;
                }
                li.shoppingBag{
                    span{
                        position:relative;
                        .numberCircle {
                            display:inline-block;
                            line-height:1px;
                            border-radius:50%;
                            border:1px solid green;;
                            background-color:green;
                            font-size:10px;
                            position:absolute;
                            right:-6px;
                            bottom:-6px;
                        }

                        .numberCircle span {
                            display:inline-block;
                            padding-top:50%;
                            padding-bottom:50%;
                            color:white;
                            margin-left:3px;
                            margin-right:3px;
                        }
                    }

                }
            }
            .headerLogo{
                flex:1 1 40%;
            }
            a{
                font-size:1.4rem;
                padding:10px;
            }

        }
        .headerLogo{
            flex:1 1 40%;
        }
    }
