@media(max-width:1350px){
    .recipes{
        & > div:first-child{
            flex:1 1 100%;
            padding-bottom:50px;
        }
        & > div:last-child ul{
            flex:1 1 100%;
            width:70%;
            margin:0 auto;
        }
        .descriptionsList{
            padding-bottom:20px;
        }
    }
}
@media(max-width:1100px){
    .restrauntPicture{
        margin: 150px auto 100px auto;
    }

    .subscribeNow{
        margin:30px auto;
        flex:1 1 100%;
        text-align:center;
        ul{
            justify-content:center;
        }
    }
    .deliciousLinks,
    .recentPostLinks{
        flex:1 1 40%;
    }
    .recentPostLinks{
        margin-right:0;
        text-align:right;
    }
}
@media(max-width:962px){
    header.homeHeader{
        background-attachment: initial;
    }   
    header .topBar ul{
        display:none;   
    }
    .headerLogo{
        text-align:center;
    }
    .topBar .threeBars{
        display:inline-block;
    }
    .recipes{
        & > div:last-child ul{
            width:100%;
        }
    }
}
@media(max-width:750px){
    .recipes .mostRecent{
        p{
            width:100%;
            padding:0 10%;
        }
    }
    .recipes{
        & > div:nth-of-type(2),
        & > div:nth-of-type(3){
            flex:1 1 100%;
        }
        & > div:nth-of-type(3){
            order:1;
        }
    }
    .gallery{
        ul{
            li{
                flex:1 1 50%;
            }
        }
    }
    .restrauntPicture{
        .watermarkImage{
            width:150px;
            height:150px;
            top:-25px;
            right:-25px;
        }
        p{
            width:100%;
            padding:0 10%;
        }
    }
    .stackedImages{
        width:60%;
    }
}
@media(max-width:675px){
    .recipes{
        .recipeDescriptions{
            .descriptionsList{
                flex-direction: column;
                justify-content:center;
                p{
                    width:100%;
                }
            }
        }
    }
    .quotes{
        div .clientQuote{
            blockquote{
                width:70%;
            }
            span{
                font-size:3rem;
            }
        }
    }
}
@media(max-width:450px){
    .restrauntPicture{
        .watermarkImage{
            width:100px;
            height:100px;
            top:0px;
            left:50%;
            transform:translate(-50%,-50%);
        }
    }
    .stackedImages{
        width:100%;
    }
    .gallery{
        ul{
            li{
                flex:1 1 100%;
            }
        }
    }
    footer{
        .deliciousLinks, 
        .recentPostLinks,
        .subscribeNow {
            flex: 1 1 100%;
            text-align:left;
        }
        .subscribeNow ul {
            justify-content: left;
        }
    }
    .restrauntPicture {
        margin: 30% auto 20% auto;
    }
}
