main.homeMain{
    h2{
        font-size:2.4rem;
        margin:50px 0;
        padding:30px 0;
        position:relative;
    
        &::after{
            content:" ";
            border-bottom:5px solid $mainGreen;
            width:80px;
            display:block;
            position:absolute;
            bottom:0;
            left:50%;
            transform:translateX(-50%);
            margin:0 auto;            
        }
    }
}

    .recipes,
    .restrauntPicture{
        p{
            font-size:1.1rem;
            color:$brownGrey;
        }
    }
    .recipes{
        display:flex;
        justify-content:center;
        flex-wrap:wrap;
        > div{
            flex:1 1 50%;
        }
        .mostRecent{
            text-align:center;
            display:flex;
            flex-direction:column;
            align-items:center;
            margin:auto;
            p{
                width:550px;
            }
            button{
                margin-top:50px;
                background-color:$mainGreen;
                color:$white;
                border:none;
                padding:15px 40px;
                flex:1 1 10%;
                font-size:1.6rem;
            }

        }
        .mainImageOne,
        .mainImageTwo{
            img{
                height:100%;
                display:block;
            }
        }

        .recipeDescriptions{
            margin:auto;
            height:100%;
            background-color:$white;

            .descriptionsList{
                padding:100px 50px;
                display:flex;
                justify-content: space-between;
                align-items:flex-start;
                flex-wrap:wrap;
                
                li{ 
                    display:flex;
                    justify-content: space-between;
                    margin-bottom:30px;
                    div{
                        padding:0 10px 10px 10px;
                    }
                }
                p{
                    width:250px;
                }
                span{
                    font-size:2.8rem;
                }
                h3{
                    font-size:1.4rem;
                    padding-bottom:10px;
                }               
            }
        }
    }

    .restrauntPicture{
        margin:200px 0;
        text-align:center;
        display:flex;
        flex-direction:column;
        align-items: center;
        
        .stackedImages{
            position:relative;
        }
        .watermarkImage{
            width:200px;
            height:200px;
            position:absolute;
            top:-50px;
            right:-50px;
            transform:translate(50px,-50px);
        }
        p{
            width:750px;
        }
    }
    .quotes{
        background-color:$lightGreen;
        >div{
            padding:50px 0 100px 0;
            display:flex;
            flex-direction:column;
            align-items: center;
            text-align:center;
            .clientQuote{
                margin:auto;
                display:flex;
                position:relative;
                blockquote{
                    width:80%;
                }
                span{
                    color:$white;
                    font-size:4rem;
                    position:absolute;
                }
                .leftQuote{
                    top:-10px;
                    left:0px;
                }
                .rightQuote{
                    right:0;
                    bottom:40px;
                }
                
            }
            blockquote{
                font-family:$lora;
                font-style:italic;
                font-size:2rem;
                line-height: 2.6rem;;
            }
            blockquote{
                margin:0 auto;
                padding-bottom: 50px;
                color:$black;
            }

            ///This code was used to use the inbuilt quotes around the block quote but looking at the design, it seems that the signs are from fontawesome.com
            // blockquote::before{
            //     font-family:$raleway;
            //     color:$white;
            //     content:open-quote;
            //     font-size:4em;
            //     line-height:0.1em;
            //     margin-right:0.25em;
            //     vertical-align:-0.4em
            // }
            // blockquote::after{
            //     font-family:$raleway;   
            //     color:$white;
            //     content:close-quote;
            //     font-size:4em;
            //     line-height:0.1em;
            //     margin-right:0.25em;
            //     vertical-align:-0.4em
            // }
            .leftRightSigns{
                p{
                    color:$white;
                    font-size:3rem;
                    span{
                        padding:0 20px;
                    }
                    .leftAngle{
                        color:darken($white,3);
                    }
                }
            }
        }
    }

    .gallery{
        ul{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            *{
                flex:1 1 30%;
            }
        }
    }