//Variables

    //colors::
    $brownGrey:#999999;
    $black:#2E2E2E;
    $white:#F6F6F6;
    $blackTwo:#333333;
    $mainGreen:#64A604;
    $pink:#DC1570;
    $lightGreen:#DDED9A;


    //Font-family
    $raleway:'Raleway',sans-serif;
    $lora:'Lora', serif;